<footer>
    <p>ThingToken.ai</p>
    <p>Copyright 2025 ThingTech Corp</p>

    <div id="credits">
        <span>Designed by</span>
        <a href="https://github.com/matwin04/">Matthew Winer</a> and
        <a href="https://github.com/GoldenLazer">Andres Pineda</a> codebase available at
        <a href="https://github.com/matwin04/thingtoken.ai.git">GitHub</a>
    </div>

    <script>
        window.va =
            window.va ||
            function () {
                (window.vaq = window.vaq || []).push(arguments);
            };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</footer>