<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/styles/thingnav.css" />
    <title>Responsive Navbar</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="/">
            <img src="/public/images/thingtoken.png" alt="gfg_logo" />
          </a>
        </div>
        <div class="hamburger-menu">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
        <div class="nav-menu hide">
          <a href="#">Home</a>
          <a href="#">Career</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
        </div>
      </nav>
    </header>
  </body>
  <script src="/public/scripts/navbar.js"></script>
</html>
