<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> navbar}}
<h1>{{title}}</h1>
    <p>At ThingCorp we are dedicated to creat the latest in cuting edge blockchain tehnology usig the THING for marvel comics and Marvel Rivals. Yes that THE THING
    this the thebest coin currently on the market with huge upside potential and very little risk, I usually ask clients not to judge me on my winners, but to judge me on my losers 
    because I have so very few. ITS CLOBBERING TIME!!!!</p>
{{> footer}}
</body>
</html>
