<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {{> navbar}}

    <h1>{{title}}</h1>

    <p>
        At ThingCorp, we are dedicated to creating the latest in cutting-edge blockchain technology using THE THING from Marvel Comics and Marvel Rivals.
        Yes, that THE THING. This is the best coin currently on the market with huge upside potential and very little risk. 
        I usually ask clients not to judge me on my winners, but to judge me on my losers — because I have so very few.
        IT'S CLOBBERING TIME!!!
    </p>

    {{> footer}}
</body>
</html>
