<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link href="/public/styles/main.css" rel="stylesheet" />
    </head>
    <body>
        {{> navbar}}
        <h1>{{title}}</h1>
        <p>
            At ThingCorp we are dedicated to creat the latest in cuting edge blockchain tehnology usig the THING for
            marvel comics and Marvel Rivals. Yes that THE THING this the thebest coin currently on the market with huge
            upside potential and very little risk, I usually ask clients not to judge me on my winners, but to judge me
            on my losers because I have so very few. ITS CLOBBERING TIME!!!!
        </p>

        <div id="investors">
            <h1>Investors</h1>
            <div class="investorProfile">
                <h3>Ayumu Kasuga</h3>
                <p>Well She is a bit different.</p>
            </div>
            <div class="investorProfile">
                <h3>Chester Ming</h3>
                <p>
                    Chester ming is one of our most profound investors. Sometimes know for his depravity, he is a
                    cuthroat buisness man.
                </p>
            </div>
            <div class="investorProfile">
                <h2>Misato Katsuragi</h2>
                <img class="pfp" src="/public/images/sexy1.jpg" alt="Misato Katsuragi" />
                <p>
                    Japanese: 葛城 ミサト, Hepburn: Katsuragi Misato) is a fictional character from the Gainax-created
                    media franchise Neon Genesis Evangelion. In the eponymous anime television series, Misato is head of
                    the operations department of the special agency Nerv, and is in charge of directing and devising war
                    strategies needed to defeat mysterious beings named Angels. Due to childhood emotional traumas, she
                    developed a frivolous, exuberant character and a disordered lifestyle. The character also appears in
                    the franchise's animated feature films and related media, including video games, the original net
                    animation Petit Eva: Evangelion@School, the Rebuild of Evangelion films, and the manga adaptation by
                    Yoshiyuki Sadamoto. For the creation of the character, Neon Genesis Evangelion director Hideaki Anno
                    took inspiration from his personality. Misato is also inspired by several real-life figures and
                    other anime characters, including Usagi Tsukino from Pretty Guardian Sailor Moon. Critics have drawn
                    parallels between Misato's characterization and concepts of philosophers and psychologists such as
                    Carl Gustav Jung, Arthur Schopenhauer, and Friedrich Nietzsche; Misato's feelings for her father
                    have been linked to Jung's Electra complex, her personal philosophy to Schopenhauer's hedgehog
                    dilemma, and her psychology to the Dionysian spirit postulated by Nietzsche. Misato has been widely
                    popular with audiences and has appeared at the top of popularity polls. Some critics have contrasted
                    her histrionic personality and sexual overtones with her 14-year-old subordinate and Evangelion
                    protagonist Shinji Ikari; others have appreciated her spontaneity, tenacity, and endearment. She has
                    also inspired merchandise and other subsequent anime characters.
                </p>
            </div>

            <div class="investorProfile">
                <h3>Minecraft Steeve</h3>
                <img class="pfp" src="/public/images/jack.jpg" />
                <h4>Steves Keys to sucess</h4>
                <ul>
                    <li>First We Mine then we craft LETS MINECRAFT</li>
                    <li>Chicken Jockey</li>
                    <li>I AM Steve</li>
                    <li>As a child, I yearned for the mines</li>
                    <li>Chicken Jockey</li>
                </ul>
            </div>
        </div>
        {{> footer}}
    </body>
</html>
