<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Thing}}</title>
</head>
<body>
{{> navbar}}


<h1>{{Thing Blogpost:}}</h1>
{{#each posts}}
<article>
    <h2>{{Who needs Four when you've got one like me?

        Checked my watch. It's almost Clobberin' Time!
        It ain't easy bein' this strong or this handsome!
        I promise ya, somewhere under all this rock is a heart of gold!
        Family always comes first. Even when it's Johnny…
        I'm actually the strongest one there is! Don't tell Hulk…
        Life was easier before all this galactic gobbledygook!
        There's a reason I'm Aunt Petunia's favorite nephew!
        Benjamin J. Grimm, reportin' for duty!
        No thing like the real Thing, baby!
        Your ever-lovin', blue-eyed Thing is here!
        Ready to keep on rockin'!
        Benjy's back, baby!
        The Thing ain't goin' nowhere!
        Can't get rid of me!
        You kiddin'? I feel fantastic!
        You guys call for the cavalry? 'Cause Benjy's here, baby!
        Ugh. What'd Doomsy do to the universe this time?!
        Been fightin' cosmic menaces all my life. Just another day on the job.
        Gotta admit, it's always nice teamin' up with old friends.
        Anyone up for a few hands of cards after this?
        Do me a favor. Don't tell Alicia I was here. She thinks I'm grocery shoppin'.
        This sure is a long way from Yancy Street…
        Okay, already! Less talkin', more fightin'!
        Fair warnin'… Unlike my wrestlin' days, I won't be pullin' any punches!
        Well, ain't this a fantastic mess we've gotten ourselves into?}}</h2>
    <h4>{{postsubtitle}}</h4>
    <p>{{postcontent}}</p>
</article>
{{/each}}
{{> footer}}
</body>
</html>