<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        {{>navbar}}
        <h1>ThingChat</h1>
        <p>Welcome to thingchat</p>

        <form method="POST" action="/chat/new">
            <label for="chatcontent">Name:</label>
            <input type="text" id="chatcontent" name="chatcontent" required><br>

            <label for="from_user">Code:</label>
            <input type="text" id="from_user" name="from_user"><br>
            <button type="submit">Send</button>
        </form>
        {{#each chats}}
        <div class="message">
            <p id="messageHeading">{{chatcontent}}</p>
            <label>{{from_user}}</label>
        </div>
        {{/each}}
        <hr />
        {{>footer}}
    </body>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</html>
