<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        {{>navbar}}
        <h1>ThingChat</h1>
        <p>Welcome to thingchat</p>
        {{#each posts}}
        <div class="message">
            <p id="messageHeading">{{chatcontent}}</p>
            <label>{{from_user}}</label>
        </div>
        {{/each}}
        <hr />
        {{>footer}}
    </body>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</html>
