<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link href="/public/styles/main.css" rel="stylesheet" />
    </head>
    <body>
        {{>navbar}}

        <h1>ThingChat</h1>
        <p>
            Welcome to thingchat. ThingChat is a revolutionary new chat system built apon the ThingToken blockchain. Go
            Ahead and feel free to try it out for yourself. <b>Its Clobberin Time!!!!!</b>
        </p>

        <h2>I JUST THINGED ALL OVER THE PLACE</h2>
        <form method="POST" action="/chat/new">
            <label for="chatcontent">Name:</label>
            <input type="note" id="chatcontent" name="chatcontent" required /><br />

            <label for="from_user">Code:</label>
            <input type="text" id="from_user" name="from_user" /><br />
            <button type="submit">Send</button>
        </form>

        <table class="chattable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>From User</th>
                    <th>Message</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {{#each chats}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{from_user}}</td>
                    <td>{{chatcontent}}</td>
                    <td>{{created_at}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr />
        {{>footer}}
    </body>
    <script>
        window.va =
            window.va ||
            function () {
                (window.vaq = window.vaq || []).push(arguments);
            };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
</html>
