<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPIC</title>
    <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
<p>
  <h1>Misato Katsuragi</h1>
    <img src="/public/images/sexy2.jpg" alt="WIFU">
  (Japanese: 葛城 ミサト, Hepburn: Katsuragi Misato) is a fictional character from the Gainax-created media franchise Neon Genesis Evangelion. In the eponymous anime television series, Misato is head of the operations department of the special agency Nerv, and is in charge of directing and devising war strategies needed to defeat mysterious beings named Angels. Due to childhood emotional traumas, she developed a frivolous, exuberant character and a disordered lifestyle. The character also appears in the franchise's animated feature films and related media, including video games, the original net animation Petit Eva: Evangelion@School,
  the Rebuild of Evangelion films, and the manga adaptation by Yoshiyuki Sadamoto.
  For the creation of the character, Neon Genesis Evangelion director Hideaki Anno took inspiration from his personality. Misato is also inspired by several real-life figures and other anime characters, including Usagi Tsukino from Pretty Guardian Sailor Moon. Critics have drawn parallels between Misato's characterization and concepts of philosophers and psychologists such as Carl Gustav Jung, Arthur Schopenhauer, and Friedrich Nietzsche; Misato's feelings for her father have been linked to Jung's Electra complex, her personal philosophy to Schopenhauer's hedgehog dilemma, and her psychology to the Dionysian spirit postulated by Nietzsche.
  Misato has been widely popular with audiences and has appeared at the top of popularity polls. Some critics have contrasted her histrionic personality and sexual overtones with her 14-year-old subordinate and Evangelion protagonist Shinji Ikari; others have appreciated her spontaneity, tenacity, and endearment. She has also inspired merchandise and other subsequent anime characters.
</p>
</body>
</html>