<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="ITS CLOBERIN TIME" />
        <title>ThingToken.ai</title>
        <link rel="icon" type="image/x-icon" href="/public/images/thingtoken.png" />

        <script src="https://unpkg.com/lightweight-charts@4.0.0/dist/lightweight-charts.standalone.production.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        {{>navbar}}

        <!-- Hero / CTA -->
        <section id="welcome">
            <h1>ThingToken.win</h1>
            <p>It’s Clobberin’ Time.</p>
            <a class="cta-btn" href="/buy">BUY THING</a>
        </section>

        <iframe
                width="100%"
                height="600"
                src="https://birdeye.so/tv-widget/Cuizqj9fDdanLNiRhtRE6aeTiHsBLPhm4eL8WYyZVLBG?chain=solana&viewMode=pair&chartInterval=15&chartType=Candle&chartTimezone=America%2FLos_Angeles&chartLeftToolbar=show&theme=light&chartOverrides=paneProperties.backgroundType%3Asolid"
                frameborder="0"
                allowfullscreen>
        </iframe>



        {{>footer}}

        <script src="/public/scripts/chart.js"></script>
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </body>
</html>
